version: 2.1

commands:
  generate_sbt_cache_key:
    description: "Generate sbt cache key"
    steps:
      - run: md5sum project/build.properties project/plugins.sbt build.sbt > .sbt_cache_key

  store_sbt_cache:
    description: "Store sbt cache"
    steps:
      - generate_sbt_cache_key
      - save_cache:
          key: sbt-{{ checksum ".sbt_cache_key" }}
          paths:
            - /home/circleci/.ivy2
            - /home/circleci/.sbt
            - /home/circleci/.cache/coursier

  restore_sbt_cache:
    description: "Restore sbt cache"
    steps:
      - generate_sbt_cache_key
      - restore_cache:
          keys:
            - sbt-{{ checksum ".sbt_cache_key" }}
            - sbt

  add_github_host_ssh_key:
    description: "Add the github host SSH key"
    steps:
    - run:
        name: Adding the github host SSH key
        command: |
          echo 'Adding the github host SSH key...'
          mkdir -p -m 0700 ~/.ssh/
          ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

  configure_git_credentials:
    description: "Configure git credentials"
    steps:
    - run:
        name: Configure git credentials
        command: |
          git config user.name ovo-comms-circleci
          git config user.email "hello.comms@ovoenergy.com"

executors:
  docker:
    docker:
    - image: circleci/openjdk:14.0.2-jdk-buster
      auth:
        username: $OVO_DOCKERHUB_USER
        password: $OVO_DOCKERHUB_PASSWORD
    environment:
      JAVA_OPTS: "-Xmx1g -Xss2m -XX:MaxMetaspaceSize=1g -XX:MetaspaceSize=1g -XX:+CMSClassUnloadingEnabled"
      DEFAULT_AWS_REGION: "eu-west-1"
      AWS_REGION: "eu-west-1"

  machine:
    machine:
      enabled: true
      image: circleci/classic:edge

    environment:
      JAVA_OPTS: "-Xmx1g -Xss2m -XX:MaxMetaspaceSize=1g -XX:MetaspaceSize=1g -XX:+CMSClassUnloadingEnabled"
      DEFAULT_AWS_REGION: "eu-west-1"
      AWS_REGION: "eu-west-1"

jobs:
  build:

    executor: docker

    steps:

    - checkout

    - restore_sbt_cache

    - run: sbt update

    - store_sbt_cache

    - run:
        name: Scalafmt Check
        command: sbt scalafmtCheckAll

    - run:
        name: Compile
        command: sbt +test:compile

    - persist_to_workspace:
        root: .
        paths: # TODO is there a better way to do this? So that the publish step doesn't have to recompile everything.
        - target
        - project/target
        - project/project/target

  integration_test:

    executor: docker

    steps:

    - checkout

    - run: docker login --username $OVO_DOCKERHUB_USER --password $OVO_DOCKERHUB_PASSWORD

    - attach_workspace:
        at: .

    - restore_sbt_cache

    - run:
        name: Test
        command: sbt it:test

    - store_test_results:
        path: target/test-reports

  publish:

    executor: docker

    steps:
    - checkout

    - run: docker login --username $OVO_DOCKERHUB_USER --password $OVO_DOCKERHUB_PASSWORD

    - attach_workspace:
        at: .

    - restore_sbt_cache

    - add_github_host_ssh_key

    - configure_git_credentials

    - run:
        name: Tag Release
        command: build/tag.sh

    - run:
        name: Release
        command: sbt +publish

workflows:
  build-and-deploy:
    jobs:
    - build:
        context: ovo-internal-public
    - integration_test:
        context:
        - ovo-internal-public
        - comms-internal-uat
        requires:
        - build
    - publish:
        context:
        - ovo-internal-public
        - comms-internal-build
        requires:
        - build
        - integration_test
        filters:
          branches:
            only:
            - master
